.center{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: left !important;
}

.card{
    background: transparent;
    border: none;
    width: 440px;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.card img{
    width:50%;
    margin-bottom:20px;
}

.card > form{
    background-color: #fff;
    border-radius: 0;
    padding: 20px;
    width:440px;

}

.card > form{
    display: flex;
    flex-direction: column;
}

.card h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-item{
    padding: 5px 10px;
    margin-bottom: 15px;
    height: 40px;
    width: 400px;
    border: 1px solid #ddd;
    font-size: 13px;
    font-weight: 300;
}

.form-submit{
    height: 40px;
    color: #fff;
    background-image: linear-gradient(90deg,#0b667c 0%,#35bcae 100%);
    border: none;
    letter-spacing: 0.1rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
    font-size: 13px;
}
.form-submit:hover{
   opacity: 0.6;
}

