h1{
    font-weight: 500;
    letter-spacing: 1px;
    color: #1B2942;
    font-size: 25px;
    margin: 30px 0;
}

#DataTable{
    border-bottom:none;
}

#DataTable tr td{
    border-top: 1px solid #E6E6E6;
    background:#ffffff;
    font-size: 13px;
    font-weight: 400;
    color: #212529;
    padding: 1rem 1.5rem;
    vertical-align: middle;
}

#DataTable thead{
    display: none;
}

.projectSubtitle{
    font-size: 12px;
    color: #98A4B8;
    margin-right: 1rem;
    line-height: 1.75;
    display: block;
}

.notes{
    display: inline-block;
    margin-right: 15px;
}

.active{
    width:10px;
    height:10px;
    background:#FF0000;
    border-radius: 100%;
}

.btn-delete{
    color:#ff0000;
}

#DataTable_length, #DataTable_filter, #DataTable_info, #DataTable_paginate{
    font-size: 13px;
}

#DataTable_filter input{
    background:#ffffff;
}

#DataTable_length select{
    background:#ffffff;
    margin-bottom:15px;
}

#DataTable_paginate{
    margin-bottom:20px;
}

#DataTable_info, #DataTable_paginate{
    margin-top: 15px;
}

.project{
    background:#ffffff;
    padding: 20px 40px;
    margin-top: 50px;
    margin-bottom:50px;
}

.project h1{
    font-size: 20px;
    font-weight: 400;
    color: #212529;
    letter-spacing: 0;
    margin-bottom:0;
}

.project span{
    font-size: 12px;
    color: #98A4B8;
    margin: 5px 0 30px 0;
    display: block;
}

.project table{
    margin-top:20px;
}

.project table tr td{
    color: #777777;
    font-size: 13px;
    font-weight: 300;
}

.project table tr td:first-child{
    width:300px;
    padding: 5px 0;
}

.project i{
    color: #0e2845;
    margin-right:5px;
}

.notes{
    margin-top:50px;
}

.note{
    background:#ffffff;
    padding: 20px 20px;
    margin-bottom:20px;
}

.note p{
    margin:0;
    color: #777777;
    font-size: 13px;
    font-weight: 300;
}

.note strong{
    font-size: 16px;
    font-weight: 400;
    color: #212529;
}